/* Created by Ishmael Sanchez, www.ishmaelsanchez.com */
/**
 * Styles for basic HTML entities
 *
 */
/* line 11, ../sass/html-tags.scss */
body {
  background: #121212 none repeat scroll 0 0;
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  font-size: 100%;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/html-tags.scss */
h1, h2, h3, h4, h5 {
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
}

/* line 32, ../sass/html-tags.scss */
ol, ul, dl {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

/* line 38, ../sass/html-tags.scss */
ol li {
  list-style: upper-roman;
}

/* line 39, ../sass/html-tags.scss */
ul li {
  list-style: circle;
}

/* line 41, ../sass/html-tags.scss */
q:before, q:after {
  content: '"';
}

/* line 43, ../sass/html-tags.scss */
h1 {
  letter-spacing: 4px;
  padding: 0;
}

/* line 48, ../sass/html-tags.scss */
h2 {
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  /* 13.5 x 1.5  = 20px*/
  letter-spacing: 1px;
  line-height: 1.25em;
}

/* line 55, ../sass/html-tags.scss */
h3 {
  font-size: 1.25em;
  /* 13.5 x 1.25  = 17px*/
  margin: 0.5em 0;
}

/* line 60, ../sass/html-tags.scss */
h4 {
  font-size: 1.15em;
}

/* 13.5 x 1.15  = 15px*/
/* line 61, ../sass/html-tags.scss */
h5 {
  font-size: 1em;
}

/* 13.5 x 1 = 13.5 px*/
/* line 63, ../sass/html-tags.scss */
hr {
  clear: both;
  height: 1px;
  margin: 0;
}

/* line 69, ../sass/html-tags.scss */
a, a:visited, a:active {
  color: #87B564;
  outline-style: none;
  text-decoration: none;
}

/* line 75, ../sass/html-tags.scss */
textarea {
  border: 1px solid #ccc;
  color: #333;
  margin: 0 0 10px;
  padding: 5px;
}

/* line 82, ../sass/html-tags.scss */
a:hover {
  text-decoration: underline;
}

/* line 83, ../sass/html-tags.scss */
img {
  border: none;
}

/* line 84, ../sass/html-tags.scss */
table {
  border-collapse: collapse;
}

/* line 85, ../sass/html-tags.scss */
caption, th {
  text-align: left;
}

/* line 86, ../sass/html-tags.scss */
table, tbody, tfoot {
  border: none;
}
