/* Created by Ishmael Sanchez, www.ishmaelsanchez.com */
/**
 * This is file is for print media solely
 */
/*** Set up basic print standards ***/
/* line 12, ../sass/print.scss */
body {
  background: #fff;
  /* Reduce the amount of ink used when printing */
  color: black;
  font-family: Times, 'Times New Romans', serif;
  font-size: 12pt;
  /* Setting an acutal point size for print */
  line-height: 15pt;
  margin: 5pt;
}

/* line 21, ../sass/print.scss */
h1 {
  font-size: 24pt;
}

/* line 22, ../sass/print.scss */
h2, h3, h4 {
  font-size: 18pt;
}

/* line 23, ../sass/print.scss */
img {
  border: none;
}

/* line 25, ../sass/print.scss */
#wrapper {
  margin: 5pt;
  width: 90%;
  /* Shrink content */
}

/* line 30, ../sass/print.scss */
#site-name {
  text-align: center;
}

/* line 32, ../sass/print.scss */
#site-name a {
  color: black;
  font-size: 30pt;
  font-weight: bold;
  padding: 5pt;
  text-decoration: none;
  /* Remove underline from site name header */
}

/* line 40, ../sass/print.scss */
#logo {
  float: left;
  margin: 5pt 5pt 2pt 0;
}

/* Hide navigation and other elements */
/* line 46, ../sass/print.scss */
#primary, #bg-image, #footer-secondary, .terms, .tabs, .links, .taxonomy, .invisible, .pager, .breadcrumb, #content img {
  display: none;
  visibility: hidden;
}

/* line 51, ../sass/print.scss */
a:link, a:visited, a:active {
  color: #333;
  text-decoration: underline;
}

/* line 56, ../sass/print.scss */
.posted {
  color: #999;
  font-size: 10.5pt;
}

/* line 61, ../sass/print.scss */
#footer {
  clear: both;
  color: #444;
  font-size: 12pt;
  margin: 15pt 0 0 2pt;
}
