/* Created by Ishmael Sanchez, www.ishmaelsanchez.com/earthish */
/**
 * Layout and main styles
 */
/* line 15, ../sass/style.scss */
html, body, #bg-image, #bg-image table, #bg-image td {
  height: 100%;
  width: 100%;
  /*overflow:hidden;*/
}

/* line 21, ../sass/style.scss */
#wrapper {
  font-size: .875em;
  /* 16px x .875 = 14px */
  line-height: 1.5em;
  /* 14px x 1.5 = 21px */
}

/*** Full Page Background Image ***/
/* line 27, ../sass/style.scss */
#bg-image {
  position: fixed;
}

/* line 29, ../sass/style.scss */
#bg-image div {
  height: 200%;
  left: -50%;
  position: absolute;
  top: -50%;
  width: 200%;
}

/* line 37, ../sass/style.scss */
#bg-image td {
  text-align: center;
  vertical-align: middle;
}

/* line 42, ../sass/style.scss */
#bg-image img {
  margin: 0 auto;
  min-height: 50%;
  min-width: 50%;
}

/* line 48, ../sass/style.scss */
#site-name {
  font-size: 1.5em;
  left: 50px;
  position: absolute;
  top: 75px;
  z-index: 5;
}

/* line 56, ../sass/style.scss */
#site-name a {
  /*background:url(../images/h1-logo.png) no-repeat scroll 0 0;*/
  /* Uncomment to use image header */
  color: #27210b;
  display: block;
  height: 94px;
  /*text-indent:-1000em;*/
  /* Uncomment to use image based header*/
}

/* line 64, ../sass/style.scss */
#content h2 {
  margin: 1em 0 .5em;
}

/* line 66, ../sass/style.scss */
#top-bar {
  background: transparent url(../images/bar-bg.png) repeat scroll 0 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

/* line 76, ../sass/style.scss */
#banner {
  font-size: .825em;
  margin: .25em;
  padding: .25em .5em;
}

/* line 82, ../sass/style.scss */
#banner .block {
  color: white;
}

/*** Main menu bar ***/
/* line 85, ../sass/style.scss */
#main-menu {
  border-top: 2px solid #ccc;
  border-left: solid 1px #656565;
  height: 25px;
  margin: 0;
  width: 100%;
}

/* line 93, ../sass/style.scss */
#main-menu ul {
  margin: 0;
}

/* line 94, ../sass/style.scss */
#main-menu .links li {
  padding: 0;
}

/* line 96, ../sass/style.scss */
#main-menu li {
  border-right: solid 1px #7d7d7b;
  float: left;
  list-style: none;
}

/* line 102, ../sass/style.scss */
#main-menu li.first {
  border-left: solid 1px #7d7d7b;
}

/* line 104, ../sass/style.scss */
#main-menu li a, #main-menu li a:link, #main-menu li a:visited {
  border-right: solid 1px #656565;
  color: white;
  display: block;
  float: left;
  font-variant: small-caps;
  font-weight: bold;
  height: 25px;
  letter-spacing: 1px;
  line-height: 25px;
  padding: 0 5px 0 5px;
  outline: none;
  text-decoration: none;
  /*text-indent:-1000em;*/
  /* Uncomment to use image based primary */
  width: 100px;
  /* Refine based on text size */
}

/* line 121, ../sass/style.scss */
#main-menu li a:hover, #main-menu li a:focus, #main-menu li a:active {
  background: #826536;
  color: #87b564;
}

/* line 126, ../sass/style.scss */
#main-menu li a.active {
  color: #87b564;
}

/* Main background image */
/* line 129, ../sass/style.scss */
#content p {
  margin: 1.25em 0;
}

/* line 133, ../sass/style.scss */
.comments {
  color: #461f0e;
  border-bottom: 1px solid #121212;
  padding: 0 0 .25em;
}

/* Wrapper for comments */
/* line 141, ../sass/style.scss */
.title {
  color: #461f0e;
  font-family: "Adobe Caslon Pro","Hoefler Text",Georgia,Garamond,Times,serif;
  font-size: 1.75em;
  /* 14px x 1.75 = 24px  */
  font-variant: small-caps;
  margin: .5em 0;
  padding: .25em 0 0;
}

/* line 150, ../sass/style.scss */
.posted, .terms, .links {
  font-size: .825em;
  line-height: 1;
  text-transform: lowercase;
}

/* line 156, ../sass/style.scss */
.posted {
  color: #5e451c;
}

/*** Main Column ***/
/* line 159, ../sass/style.scss */
#content {
  background-color: white;
  border: 2px solid white;
  -moz-border-radius-topleft: 15px;
  -webkit-border-top-left-radius: 15px;
  -ms-border-top-left-radius: 15px;
  -o-border-top-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -webkit-border-top-right-radius: 15px;
  -ms-border-top-right-radius: 15px;
  -o-border-top-right-radius: 15px;
  border-top-right-radius: 15px;
  left: 20%;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  padding-top: 5px;
  top: 50px;
  z-index: 100;
}

/* line 173, ../sass/style.scss */
.content-wrapper {
  margin: 0 0 15px 0;
  padding: 0 0 10px;
}

/* line 178, ../sass/style.scss */
.content-box {
  background: white;
  margin: 15px auto 0;
  padding: 0 50px 25px;
  width: 500px;
}

/* line 185, ../sass/style.scss */
textarea:hover, textarea:focus {
  border: 1px solid #999;
}

/* line 187, ../sass/style.scss */
input.submit {
  background: black none repeat scroll 0 0;
  color: white;
}

/* line 192, ../sass/style.scss */
input:hover {
  background: #5e451c none repeat scroll 0 0;
  color: white;
}

/* line 197, ../sass/style.scss */
.item-list ul {
  padding: 0 0 0 20px;
}

/* line 201, ../sass/style.scss */
#bottom-bar {
  background: transparent url(../images/bar-bg.png) repeat scroll 0 0;
  bottom: 0;
  color: white;
  font-size: .8em;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* line 212, ../sass/style.scss */
#footer-primary {
  float: left;
  margin: .5em;
  padding: .5em;
}

/* line 218, ../sass/style.scss */
#footer-secondary {
  float: right;
  margin: .5em;
  padding: .5em;
  text-align: right;
}

/* line 225, ../sass/style.scss */
.breadcrumb {
  color: white;
  font-size: .75em;
  margin: .25em 0;
  padding: 0 0 0 10px;
}

/* line 232, ../sass/style.scss */
#logo {
  clear: both;
}

/* line 234, ../sass/style.scss */
#footer-bottom {
  background: #ccc;
  bottom: 5px;
  clear: both;
  /* height: px  Uncomment and define based on content */
  padding: .5em .75em;
  position: relative;
  width: 100%;
}

/* line 244, ../sass/style.scss */
#footer-bottom a {
  color: #777;
}

/*** Drupal Pager ***/
/* line 248, ../sass/style.scss */
.item-list {
  padding: .25em 0;
}

/* line 249, ../sass/style.scss */
.item-list .pager {
  margin: 1em 0;
}

/* line 250, ../sass/style.scss */
.item-list .pager li {
  padding: .25em;
}

/* line 251, ../sass/style.scss */
.pager-current {
  color: #f8e3ae;
}

/* line 253, ../sass/style.scss */
.pager li a.active {
  color: #87b564;
  text-decoration: none;
}

/* line 258, ../sass/style.scss */
.pager li {
  background: #5e451c;
  border: 1px solid #cccccc;
}

/*** General Drupal Styles ***/
/* line 265, ../sass/style.scss */
.block-region {
  background-color: #60b86e;
  border: 1px dotted #333;
  color: white;
}

/* line 271, ../sass/style.scss */
tr.odd {
  background-color: #ccc;
}

/* line 273, ../sass/style.scss */
.form-submit {
  background: black;
  color: white;
  cursor: pointer;
  -moz-border-radius: 5px;
  padding: 1px 5px;
  -webkit-border-radius: 5px;
}

/* line 282, ../sass/style.scss */
.tags {
  margin: 1em 0;
  overflow: auto;
  padding: .25em 0;
}

/* line 288, ../sass/style.scss */
.tags .vocabulary {
  float: left;
  padding: 0 10px 0 0;
}

/* line 293, ../sass/style.scss */
.vocabulary {
  font-style: italic;
}

/* line 294, ../sass/style.scss */
.tabs li a {
  color: black;
}

/* line 295, ../sass/style.scss */
.error a {
  color: black;
  text-decoration: underline;
}

/* line 296, ../sass/style.scss */
.node-unpublished {
  border: 1px dashed #be0000;
  padding: .5em;
}

/* line 297, ../sass/style.scss */
.new {
  color: #be0000;
}

/* line 298, ../sass/style.scss */
.node_read_more {
  font-weight: bold;
}

/* line 299, ../sass/style.scss */
.taxonomy-term-description {
  font-style: italic;
}

/* line 300, ../sass/style.scss */
.item-list ul li {
  margin: 0 0 .25em 0.5em;
}

/* line 301, ../sass/style.scss */
body#tinymce {
  background: none;
}

/*** Login block @TODO fix styles for login box ***/
/* line 305, ../sass/style.scss */
#block-user-0 {
  display: block;
  position: relative;
  width: 315px;
}

/* line 311, ../sass/style.scss */
#block-user-0 #edit-name-wrapper {
  display: block;
  float: left;
}

/* line 316, ../sass/style.scss */
#block-user-0 #edit-pass-wrapper {
  display: block;
  float: left;
  margin: 10px 0 0 10px;
}

/* line 322, ../sass/style.scss */
#block-user-0 #user-login-form {
  text-align: left;
}

/* line 323, ../sass/style.scss */
#block-user-0 #user-login-form input.form-text {
  padding: 0;
}

/* line 324, ../sass/style.scss */
#block-user-0 #user-login-form input.form-submit {
  margin: 12px 0 0 0;
}

/* line 325, ../sass/style.scss */
#block-user-0 .content {
  margin: -10px 0 0 0;
}

/* line 326, ../sass/style.scss */
#block-user-0 .item-list ul li.first {
  padding: 0;
}

/* line 327, ../sass/style.scss */
#block-user-0 .item-list ul li.last {
  padding: 0 0 0 10px;
}

/* line 329, ../sass/style.scss */
#block-user-0 #user-login-form input.form-submit {
  clear: none;
  margin: 25px 0 0 10px;
}

/* line 334, ../sass/style.scss */
#block-user-0 .item-list {
  clear: both;
  margin: -10px 0 0 0;
}

/* line 339, ../sass/style.scss */
#block-user-0 .item-list ul li {
  display: inline;
  list-style: none;
  margin: 0;
}

/** Override toolbar placement
.toolbar #toolbar {
  bottom:0;
  top:inherit;
}
**/
/*** Reusable styles ***/
/* line 353, ../sass/style.scss */
.bold {
  font-weight: bold;
}

/* line 354, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 355, ../sass/style.scss */
.float-left {
  float: left;
}

/* line 356, ../sass/style.scss */
.float-right {
  float: right;
}

/* line 357, ../sass/style.scss */
.italic {
  font-style: italic;
}

/* line 358, ../sass/style.scss */
.uppercase {
  text-transform: uppercase;
}

/* Adaptive styles for mobile devices */
/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width: 875px) {
  /* line 364, ../sass/style.scss */
  #content {
    left: 11%;
  }
}
/*		Wide/Landscape Mobile Layout */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* line 371, ../sass/style.scss */
  #site-name {
    margin: -50px 0 0 -45px;
  }

  /* line 375, ../sass/style.scss */
  #content, .content-box {
    background: white;
    left: 0;
    margin: 1%;
    padding: 1%;
    width: 95%;
  }

  /* line 383, ../sass/style.scss */
  #bottom-bar {
    display: none;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* line 389, ../sass/style.scss */
  #content, .content-box {
    background: white;
    left: 0;
    margin: 1%;
    padding: 1%;
    width: 95%;
  }

  /* line 397, ../sass/style.scss */
  #bottom-bar {
    display: none;
  }
}
