/* Created by Ishmael Sanchez, www.ishmaelsanchez.com */

// Add mixin for font-* normal styling
//

/**
 * Styles for basic HTML entities
 *
 */

body {
  background:#121212 none repeat scroll 0 0;
  font-family:"Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  font-size:100%;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.5;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5 {
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1;
}

ol, ul, dl {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

ol li {list-style:upper-roman;}
ul li {list-style:circle;}

q:before, q:after {content:'"';}

h1 {
  letter-spacing:4px;
  padding:0;
}

h2 {
  font-family:Arial,sans-serif;
  font-size:1.5em; /* 13.5 x 1.5  = 20px*/
  letter-spacing:1px;
  line-height:1.25em;
}

h3 {
  font-size:1.25em; /* 13.5 x 1.25  = 17px*/
  margin:0.5em 0;
}

h4 {font-size:1.15em;} /* 13.5 x 1.15  = 15px*/
h5 {font-size:1em;} /* 13.5 x 1 = 13.5 px*/

hr {
  clear:both;
  height:1px;
  margin:0;
}

a, a:visited, a:active  {
  color:#87B564;
  outline-style:none;
  text-decoration:none;
}

textarea {
  border:1px solid #ccc;
  color:#333;
  margin:0 0 10px;
  padding:5px;
}

a:hover {text-decoration:underline;}
img {border:none;}
table {border-collapse:collapse;}
caption, th {text-align:left;}
table, tbody, tfoot {border:none;}
legend {}
input {}
