/* Created by Ishmael Sanchez, www.ishmaelsanchez.com */

// Variables
 $base-font: 12pt;
 $text-color: #000;

/**
 * This is file is for print media solely
 */

/*** Set up basic print standards ***/
body {
  background: #fff; /* Reduce the amount of ink used when printing */
  color: $text-color;
  font-family: Times, 'Times New Romans', serif;
  font-size: $base-font; /* Setting an acutal point size for print */
  line-height: $base-font * 1.25;
  margin: 5pt;
}

h1 {font-size:$base-font * 2;}
h2, h3, h4 {font-size: $base-font * 1.5;}
img {border:none;}

#wrapper {
  margin:5pt;
  width: 90%; /* Shrink content */
}

#site-name {text-align:center;}

#site-name a {
  color: $text-color;
  font-size: $base-font * 2.5;
  font-weight:bold;
  padding:5pt;
  text-decoration:none; /* Remove underline from site name header */
}

#logo {
  float:left;
  margin:5pt 5pt 2pt 0;
}
  
/* Hide navigation and other elements */
#primary, #bg-image, #footer-secondary, .terms, .tabs, .links, .taxonomy, .invisible, .pager, .breadcrumb, #content img {
  display:none;
  visibility:hidden;
}

a:link, a:visited, a:active {
  color:#333;
  text-decoration:underline;
}

.posted {
  color:#999;
  font-size: $base-font * .875;
}

#footer {
  clear:both;
  color:#444;
  font-size: $base-font;
  margin:15pt 0 0 2pt;
}
