/* Created by Ishmael Sanchez, www.ishmaelsanchez.com/earthish */

// Variables
$light-color: #fff;
$mid-color: #777;
$dark-color: #000;
$link-color: #87B564;

@import "compass/css3";

/**
 * Layout and main styles
 */

html, body, #bg-image, #bg-image table, #bg-image td {
  height:100%;
  width:100%;
  /*overflow:hidden;*/
}

#wrapper {
  font-size:.875em; /* 16px x .875 = 14px */
  line-height: 1.5em; /* 14px x 1.5 = 21px */
}

/*** Full Page Background Image ***/
#bg-image {position: fixed;}

#bg-image div {
  height:200%;
  left:-50%;
  position:absolute;
  top:-50%;
  width:200%;
}

#bg-image td {
  text-align:center;
  vertical-align:middle;
}

#bg-image img {
  margin:0 auto;
  min-height:50%;
  min-width:50%;
}

#site-name {
  font-size:1.5em;
  left:50px;
  position:absolute;
  top:75px;
  z-index:5;
}

#site-name a {
  /*background:url(../images/h1-logo.png) no-repeat scroll 0 0;*/ /* Uncomment to use image header */
  color:#27210b;
  display:block;
  height:94px;
  /*text-indent:-1000em;*/ /* Uncomment to use image based header*/
}

#content h2 {margin:1em 0 .5em;}

#top-bar {
  background:transparent url(../images/bar-bg.png) repeat scroll 0 0;
  left:0;
  overflow:hidden;
  position:absolute;
  top:0;
  width:100%;
  z-index:10;
}

#banner {
  font-size:.825em;
  margin:.25em;
  padding:.25em .5em;
}

#banner .block {color:$light-color;}

/*** Main menu bar ***/
#main-menu {
  border-top:2px solid #ccc;
  border-left:solid 1px #656565;
  height:25px;
  margin:0;
  width:100%;
}

#main-menu ul {margin:0;}
#main-menu .links li {padding:0;}

#main-menu li {
  border-right:solid 1px #7d7d7b;
  float:left;
  list-style:none;
}

#main-menu li.first {border-left:solid 1px #7d7d7b;}

#main-menu li a, #main-menu li a:link, #main-menu li a:visited {
  border-right:solid 1px #656565;
  color: $light-color;
  display:block;
  float:left;
  font-variant:small-caps;
  font-weight:bold;
  height:25px;
  letter-spacing:1px;
  line-height:25px;
  padding:0 5px 0 5px;
  outline:none;
  text-decoration:none;
  /*text-indent:-1000em;*/ /* Uncomment to use image based primary */
  width:100px; /* Refine based on text size */
}

#main-menu li a:hover, #main-menu li a:focus, #main-menu li a:active {
  background:#826536;
  color: $link-color;
}

#main-menu li a.active {color: $link-color;}
#main-image {} /* Main background image */

#content p {
  margin:1.25em 0;
}

.comments {
  color:#461f0e;
  border-bottom:1px solid #121212;
  padding:0 0 .25em;
}

#comments {} /* Wrapper for comments */

.title {
  color:#461f0e;
  font-family:"Adobe Caslon Pro","Hoefler Text",Georgia,Garamond,Times,serif;
  font-size:1.75em; /* 14px x 1.75 = 24px  */
  font-variant:small-caps;
  margin:.5em 0;
  padding:.25em 0 0;
}

.posted, .terms, .links {
  font-size:.825em;
  line-height:1;
  text-transform:lowercase;
}

.posted {color:#5e451c;}

/*** Main Column ***/
#content{
  background-color: $light-color;
  border:2px solid $light-color;
  @include border-top-left-radius(15px);
  @include border-top-right-radius(15px);
  left:20%;
  overflow-y:auto;
  overflow-x: hidden;
  position:absolute;
  padding-top: 5px;
  top:50px;
  z-index:100;
}

.content-wrapper {
  margin:0 0 15px 0;
  padding:0 0 10px;
}

.content-box {
  background:$light-color;
  margin:15px auto 0;
  padding:0 50px 25px;
  width:500px;
}

textarea:hover, textarea:focus {border:1px solid #999;}

input.submit {
  background:$dark-color none repeat scroll 0 0;
  color:$light-color;
}

input:hover {
  background:#5e451c none repeat scroll 0 0;
  color:$light-color;
}

.item-list ul {
  padding:0 0 0 20px;
}

#bottom-bar {
  background:transparent url(../images/bar-bg.png) repeat scroll 0 0;
  bottom:0;
  color:$light-color;
  font-size:.8em;
  left:0;
  position:fixed;
  width:100%;
  z-index:10;
}

#footer-primary {
  float:left;
  margin:.5em;
  padding:.5em;
}

#footer-secondary {
  float:right;
  margin:.5em;
  padding:.5em;
  text-align:right;
}

.breadcrumb {
  color:$light-color;
  font-size:.75em;
  margin:.25em 0;
  padding:0 0 0 10px;
}

#logo {clear:both;}

#footer-bottom {
  background:#ccc;
  bottom:5px;
  clear:both;
  /* height: px  Uncomment and define based on content */
  padding:.5em .75em;
  position:relative;
  width:100%;
}

#footer-bottom a {color:#777;}
#footer-links {}

/*** Drupal Pager ***/
.item-list {padding:.25em 0;}
.item-list .pager {margin:1em 0;}
.item-list .pager li {padding:.25em;}
.pager-current {color:#f8e3ae;}

.pager li a.active {
  color: $link-color;
  text-decoration:none;
}

.pager li {
  background:#5e451c;
  border:1px solid #ccc
}

/*** General Drupal Styles ***/

.block-region {
  background-color:#60b86e;
  border:1px dotted #333;
  color:$light-color;
}

tr.odd {background-color: #ccc;}

.form-submit {
  background:$dark-color;
  color:$light-color;
  cursor:pointer;
  -moz-border-radius:5px;
  padding:1px 5px;
  -webkit-border-radius:5px;
}

.tags {
  margin:1em 0;
  overflow:auto;
  padding:.25em 0;
}

.tags .vocabulary {
  float:left;
  padding:0 10px 0 0;
}

.vocabulary {font-style:italic;}
.tabs li a {color:$dark-color;}
.error a {color:$dark-color;text-decoration:underline;}
.node-unpublished {border:1px dashed #be0000;padding:.5em;}
.new {color:#be0000;}
.node_read_more {font-weight:bold;}
.taxonomy-term-description {font-style:italic;}
.item-list ul li {margin:0 0 .25em 0.5em;}
body#tinymce {background:none;}

/*** Login block @TODO fix styles for login box ***/

#block-user-0 {
  display:block;
  position:relative;
  width:315px;
}

#block-user-0 #edit-name-wrapper {
  display: block;
  float: left;
}

#block-user-0 #edit-pass-wrapper {
  display: block;
  float: left;
  margin:10px 0 0 10px;
}

#block-user-0 #user-login-form {text-align: left;}
#block-user-0 #user-login-form input.form-text {padding:0;}
#block-user-0 #user-login-form input.form-submit {margin: 12px 0 0 0;}
#block-user-0 .content {margin: -10px 0 0 0;}
#block-user-0 .item-list ul li.first {padding:0;}
#block-user-0 .item-list ul li.last {padding:0 0 0 10px;}

#block-user-0 #user-login-form input.form-submit {
  clear: none;
  margin:25px 0 0 10px;
}

#block-user-0 .item-list {
  clear:both;
  margin:-10px 0 0 0;
}

#block-user-0 .item-list ul li {
  display:inline;
  list-style:none;
  margin:0;
}

/** Override toolbar placement
.toolbar #toolbar {
  bottom:0;
  top:inherit;
}
**/

/*** Reusable styles ***/
.bold {font-weight:bold;}
.clear {clear:both;}
.float-left {float:left;}
.float-right {float:right;}
.italic {font-style:italic;}
.uppercase {text-transform:uppercase;}

/* Adaptive styles for mobile devices */

/* Tablet Layout */
@media only screen and (min-width: 768px) and (max-width: 875px) {
  #content {
    left:11%;
  }
}

/*		Wide/Landscape Mobile Layout */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  #site-name {
    margin:-50px 0 0 -45px;
  }

  #content, .content-box {
    background:$light-color;
    left:0;
    margin:1%;
    padding:1%;
    width:95%;
  }

  #bottom-bar {
    display:none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #content, .content-box {
    background:$light-color;
    left:0;
    margin:1%;
    padding:1%;
    width:95%;
  }

  #bottom-bar {
    display:none;
  }
}
